@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/images/fondo-vehiculo.jpg') center/cover no-repeat;
  padding: 20px;
  position: relative;
}

.card-login {
  display: flex;
  width: 800px;
  max-width: 95%;
  border-radius: 15px;
  overflow: hidden;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
}

/* Parte Izquierda - Login */
.left {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.glass {
  background: rgba(255, 255, 255, 0.08);
  color: white;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

.input-field {
  position: relative;
  border-bottom: 2px solid #ccc;
  margin: 20px 0;
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #fff;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}

.input-field input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
  padding: 0 5px;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
  color: #ccc;
}

.input-field input:-webkit-autofill {
  background: transparent;
  color: #fff;
}

.input-field input:-webkit-autofill ~ label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.05) inset !important;
  -webkit-text-fill-color: #fff !important;
  caret-color: #fff;
  transition: background-color 0s;
}

button {
  background: #fff;
  color: #000;
  font-weight: 600;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 10px;
  transition: 0.3s ease;
}

button:hover {
  color: #fff;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.15);
}

.custom-alert {
  background-color: rgba(255, 0, 0, 0.2);
  color: white;
  padding: 10px;
  text-align: center;
  border: 1px solid red;
  border-radius: 5px;
  font-weight: 600;
}

/* Parte Derecha - Mensaje */
.right {
  flex: 1;
  background: rgba(220, 53, 69, 0.25);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  text-align: center;
  font-weight: 600;
}

.right p {
	font-size: 1.2rem;
}

/* Responsive */
@media (max-width: 768px) {
  .card-login {
    flex-direction: column;
  }

  .left, .right {
    width: 100%;
  }
}