<!DOCTYPE html>
<html lang="es" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main_layout.html}">

<head>
	<meta charset="utf-8">
	<title>Gestión de Documentos</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="bg-light">
	<div class="container mt-5" layout:fragment="content">
		<div class="card shadow-sm">
			<div class="card-body">
				<h1 th:text="${vista == 'activos'} ? 'Gestión de Documentos' : 'Gestión de Documentos Cancelados'"
					class="h4 card-title mb-4">Gestión de Documentos</h1>

				<!-- Botón para Nuevo Documento -->
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalRegistro"
					th:attr="disabled=${vista == 'cancelados'}">Registrar Documento</button>

				<a th:if="${vista == 'activos'}" th:href="@{/documentos/cancelados}" class="btn btn-outline-secondary">
					Ver Documentos Cancelados
				</a>

				<a th:if="${vista == 'cancelados'}" th:href="@{/documentos/listado}" class="btn btn-outline-secondary">
					Volver al Listado
				</a>

				<br> <br>

				<!-- Ventana del Registro-->
				<div class="modal fade" id="modalRegistro" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header bg-primary text-white">
								<h5 class="modal-title" id="exampleModalLabel">Registrar nuevo Documento</h5>
								<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
									aria-label="Cerrar"></button>
							</div>
							<div class="modal-body">
								<form class="row g-3" action="/documentos/registro" th:object="${documentos}"
									enctype="multipart/form-data" method="post">
									<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

									<div class="col-md-6">
										<label class="form-label">Número de Documento</label>
										<input type="text" th:field="*{documento}" class="form-control"
											id="numdocumento" placeholder="Ingrese el Documento">
									</div>

									<div class="col-md-6">
										<label class="form-label">Foto</label>
										<input type="file" class="form-control" accept="image/*" name="fileFoto"
											id="fileFoto" required>
										<div id="alertaFoto" class="alert alert-warning mt-2 d-none" role="alert">
											La imagen no puede superar 1MB
										</div>

										<!-- Vista previa de imagen -->
										<div id="contFoto" class="mt-2 position-relative" style="display: none;">
											<img id="minFoto" class="img-fluid border rounded"
												style="max-height: 200px;">
										</div>
									</div>

									<div class="modal-footer">
										<button type="submit" class="btn btn-primary" id="btnGuardarDocumento"
											disabled>Registrar Documento</button>
										<button type="button" class="btn btn-secondary"
											data-bs-dismiss="modal">Cancelar</button>
									</div>

								</form>
							</div>

						</div>
					</div>
				</div>

				<!-- Modal Editar Documento -->
				<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="modalEditarLabel"
					aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header bg-warning text-dark">
								<h5 class="modal-title" id="modalEditarLabel">Editar Documento</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Cerrar"></button>
							</div>
							<div class="modal-body">
								<form class="row g-3" action="/documentos/editar" method="post"
									enctype="multipart/form-data">
									<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
									<input type="hidden" name="id" id="editId">
									<input type="hidden" name="fotoActual" id="editFotoActual">

									<div class="col-md-12">
										<label class="form-label">Número de Documento</label>
										<input type="text" class="form-control" name="documento" id="editDocumento"
											required>
									</div>

									<div class="col-md-12">
										<label class="form-label">Foto</label>
										<input type="file" class="form-control" accept="image/*" name="fileFotoEdit"
											id="fileFotoEdit">

										<div id="alertaFotoEdit" class="alert alert-warning mt-2 d-none" role="alert">
											La imagen no puede superar 1MB
										</div>

										<div id="contFotoEdit" class="mt-2 position-relative" style="display: none;">
											<img id="minFotoEdit" class="img-fluid border rounded"
												style="max-height: 200px;">
										</div>
									</div>

									<div class="modal-footer">
										<button type="submit" class="btn btn-warning">Guardar Cambios</button>
										<button type="button" class="btn btn-secondary"
											data-bs-dismiss="modal">Cancelar</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

				<br>

				<!-- Mensaje de Alerta de Registro -->
				<div th:text="${mensaje}" th:class="${css_mensaje}" role="alert" style="margin-top: 15px;"></div>

				<!-- Tabla de datos de Documentos -->
				<div class="table-responsive">
					<table class="table table-hover">
						<thead class="table-light">
							<tr>
								<th scope="col">ID</th>
								<th scope="col">Referencia</th>
								<th scope="col">Número de Documento</th>
								<th scope="col">Acciones</th>
							</tr>
						</thead>
						<tbody id="documentsTable">

							<!-- En caso no hallan Documentos registrados -->
							<tr th:if="${#lists.isEmpty(lstDocumentos)}" class="text-center">
								<td colspan="4" class="text-muted py-4"
								th:text="${vista == 'activas'} ? 'No hay documentos registrados' : 'No hay documentos cancelados'"></td>
							</tr>

							<!-- Listado de Documentos-->
							<tr th:each="d : ${lstDocumentos}">
								<td th:text="${d.id}"></td>
								<td>
									<img th:src="${d.foto}" style="height:30px; width: 50px;">
								</td>
								<td th:text="${d.documento}"></td>
								<td>
									<button th:if="${vista == 'activos'}" type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
										data-bs-target="#modalEditar" th:attr="
										data-id=${d.id},
										data-documento=${d.documento},
										data-foto=${d.foto}">
										<i class="bi bi-pencil-square"></i>
									</button>

									<a th:if="${vista == 'activos'}" th:href="@{/documentos/eliminar/}+${d.id}"
										class="btn btn-sm btn-danger"
										onclick="return confirm('¿Estás seguro de eliminar este documento?');">
										<i class="bi bi-trash"></i>
									</a>

									<a th:if="${vista == 'cancelados'}" th:href="@{/documentos/restaurar/}+${d.id}"
										class="btn btn-sm btn-success"
										onclick="return confirm('¿Deseas restaurar este documento?');">
										<i class="bi bi-arrow-clockwise"></i>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<script>
			document.addEventListener("DOMContentLoaded", function () {

				const documento = document.getElementById('numdocumento');
				const btn = document.getElementById('btnGuardarDocumento');
				const inputFoto = document.getElementById('fileFoto');
				const contFoto = document.getElementById('contFoto');
				const minFoto = document.getElementById('minFoto');
				const alertaFoto = document.getElementById('alertaFoto');

				// Función para habilitar y deshabilitar el botón de la ventana Registrar
				function validar() {
					if (documento.value.trim() !== '' && inputFoto.value !== '') {
						btn.removeAttribute('disabled');
					} else {
						btn.setAttribute('disabled', 'disabled');
					}
				}

				documento.addEventListener("input", validar);
				inputFoto.addEventListener("change", validar);
				validar();

				// Vista previa y validación de imagen en Registro
				inputFoto.addEventListener('change', function () {
					const file = this.files[0];
					if (file) {
						const extension = file.name.split('.').pop().toLowerCase();
						const formatosPermitidos = ['jpg', 'jpeg'];

						// Validar extensión
						if (!formatosPermitidos.includes(extension)) {
							alertaFoto.textContent = 'Solo se permiten imágenes .jpg o .jpeg y/o menor a 1MB';
							alertaFoto.classList.remove('d-none');
							this.value = '';
							minFoto.src = '';
							contFoto.style.display = 'none';
							validar();
							return;
						}

						// Validar tamaño máximo
						if (file.size > 1048576) {
							alertaFoto.textContent = 'La imagen no puede superar 1MB';
							alertaFoto.classList.remove('d-none');
							this.value = '';
							minFoto.src = '';
							contFoto.style.display = 'none';
							validar();
							return;
						}

						// Ocultar alerta
						alertaFoto.classList.add('d-none');

						// Mostrar vista previa
						const reader = new FileReader();
						reader.onload = function (e) {
							minFoto.src = e.target.result;
							contFoto.style.display = 'block';
						}
						reader.readAsDataURL(file);

						validar();
					}
				});

				// Limpiar formulario al cerrar Registrar
				const modalRegistrar = document.getElementById('modalRegistro');
				modalRegistrar.addEventListener('hidden.bs.modal', function () {
					documento.value = '';
					inputFoto.value = '';
					minFoto.src = '';
					contFoto.style.display = 'none';
					alertaFoto.classList.add('d-none');
					validar();
				});

				// Recoger datos para la Ventana de Editar
				document.querySelectorAll('button[data-bs-target="#modalEditar"]').forEach(btn => {
					btn.addEventListener('click', function () {
						const datos = this.dataset;

						document.getElementById("editId").value = datos.id;
						document.getElementById("editDocumento").value = datos.documento;
						document.getElementById("editFotoActual").value = datos.foto;

						const minFoto = document.getElementById("minFotoEdit");
						const contFoto = document.getElementById("contFotoEdit");

						if (datos.foto && datos.foto !== 'null' && datos.foto !== '') {
							minFoto.src = datos.foto;
							contFoto.style.display = 'block';
						} else {
							minFoto.src = '';
							contFoto.style.display = 'none';
						}
					});
				});

				// Vista previa y validación de imagen en Editar
				const inputFotoEdit = document.getElementById('fileFotoEdit');
				const contFotoEdit = document.getElementById('contFotoEdit');
				const minFotoEdit = document.getElementById('minFotoEdit');

				inputFotoEdit.addEventListener('change', function () {
					const file = this.files[0];
					if (file) {
						const alertaErrorFotoEdit = document.getElementById('alertaFotoEdit');
						const extension = file.name.split('.').pop().toLowerCase();
						const formatosPermitidos = ['jpg', 'jpeg'];

						// Validar extensión
						if (!formatosPermitidos.includes(extension)) {
							alertaErrorFotoEdit.textContent = 'Solo se permiten imágenes .jpg o .jpeg y/o menor a 1MB';
							alertaErrorFotoEdit.classList.remove('d-none');
							this.value = '';
							minFotoEdit.src = '';
							contFotoEdit.style.display = 'none';
							return;
						}

						// Validar tamaño máximo
						if (file.size > 1048576) {
							alertaErrorFotoEdit.textContent = 'La imagen no puede superar 1MB';
							alertaErrorFotoEdit.classList.remove('d-none');
							this.value = '';
							minFotoEdit.src = '';
							contFotoEdit.style.display = 'none';
							return;
						}

						// Ocultar alerta
						alertaErrorFotoEdit.classList.add('d-none');

						// Mostrar vista previa
						const reader = new FileReader();
						reader.onload = function (e) {
							minFotoEdit.src = e.target.result;
							contFotoEdit.style.display = 'block';
						}
						reader.readAsDataURL(file);
					}
				});

				// Limpiar formulario al cerrar modal Editar
				const modalEditar = document.getElementById('modalEditar');
				modalEditar.addEventListener('hidden.bs.modal', function () {
					document.getElementById('fileFotoEdit').value = '';
					document.getElementById('minFotoEdit').src = '';
					document.getElementById('contFotoEdit').style.display = 'none';
					document.getElementById('alertaFotoEdit').classList.add('d-none');
					document.getElementById('editFotoActual').value = '';
				});
			});
		</script>
	</div>
</body>

</html>