<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/styleLogin.css">
	<title>Iniciar Sesión</title>

	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
	<div class="card-login">
		
	  <!-- Sección formulario -->
	  <div class="left glass">
	    <form th:action="@{/usuarios/login}" method="post">
	      <h2>Iniciar Sesión</h2>

	      <div class="input-field">
	        <input type="text" id="username" name="username" required>
	        <label for="username">Usuario</label>
	      </div>

	      <div class="input-field">
	        <input type="password" id="password" name="password" required>
	        <label for="password">Contraseña</label>
	      </div>

	      <div th:if="${param.error != null}">
	        <div class="custom-alert" role="alert">
	          Usuario o contraseña incorrectos
	        </div>
	      </div>

	      <button type="submit">Ingresar</button>
	    </form>
	  </div>

	  <!-- Sección mensaje -->
	  <div class="right glass-red">
	    <p>Bienvenido a <strong>MoviXpress</strong>.<br>Tu viaje comienza aquí con el mejor servicio de alquiler de autos.</p>
	  </div>
	  
	</div>
</body>

</html>